.message{
    display: flex;
    max-width: 90%;
    gap: 10px;
    height: min-content;
}
.message-content{
    background-color: cadetblue;
    padding: 12px;
    border-radius: 5px;
}
.message-customer{
    margin-left: auto;
    flex-direction: row-reverse;
}