.input{
    padding: 14px;
    outline: none;
    border: none;
    width: 100%;
}
.input-container{
    background-color: white;
    display: flex;
    align-items: center;
    gap: 12px;
    position: sticky;
    left: 0;
    bottom: 0;
    width: calc(100% - 30px);
    padding-bottom: 10px;
    border-radius: 15px;
}
.icon-button{
    padding:0;
}